<% include _header %>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1><%= __('Anuncios') %></h1>
      <p class="lead"><%= __('Listado') %> <%= anuncios.length %> <%= __('de') %> <%= total %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead><tr>
          <th><%= __('Nombre') %></th>
          <th><%= __('Venta') %></th>
          <th style="text-align: right"><%= __('Precio') %></th>
          <th><%= __('Foto') %></th>
          <th><%= __('Etiquetas') %></th>
          <th>#</th>
        </tr></thead>
        <tbody>
          <% anuncios.forEach(anuncio => { %>
          <tr>
            <td><%= anuncio.nombre %></td>
            <td><%= anuncio.venta ? 'Si' : 'No' %></td>
            <td style="text-align: right"><%= anuncio.precio / 100 %>€</td>
            <td><img src="<%= anuncio.foto %>"></td>
            <td><%= anuncio.tags %></td>
            <td><%= anuncio._id %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <p><%= __('Ejemplos') %>:</p>

      <ul>
        <li><a href="?"><%= __('Todos') %> (max. 1000)</a></li>
        <li><a href="?start=2&limit=2"><%= __('Paginado') %></a></li>
        <li><a href="?sort=precio"><%= __('Ordenado por precio ascendente') %></a></li>
        <li><a href="?sort=-precio"><%= __('Ordenado por precio descendente') %></a></li>
        <li><a href="?tag=mobile"><%= __('Con etiqueta mobile') %></a></li>
      </ul>

    </div>
  </div>

  <hr>

  <div class="row" style="margin-bottom: 100px;">
    <div class="col-xs-4">

        <h2><%= __('Crear') %></h2>

        <br>

        <form action="/crear" enctype="multipart/form-data" method="post">

          <div class="form-group">
            <label for="nombre"><%= __('Nombre') %></label>
            <input class="form-control" type="text" name="nombre" required>
          </div>

          <div class="form-group">
            <label for=""><%= __('Venta') %>
              <input type="radio" name="venta" value="true" checked> <%= __('Si') %>
              <input type="radio" name="venta" value="false"> <%= __('No') %>
            </label>
          </div>

          <div class="form-group">
            <label for="precio"><%= __('Precio') %></label>
            <input class="form-control" type="number" name="precio" required>
          </div>

          <div class="form-group">
            <label for="foto"><%= __('Foto') %></label>
            <input name="foto-file" type="file" required>
            <input name="foto" type="hidden">
          </div>

          <div class="form-group">
            <label for="nombre"><%= __('Etiquetas') %></label>
            <div class="row">
              <div class="col-xs-6">
                <input class="form-control" id="tagInput" type="text" name="tag">
              </div>
              <div class="col-xs-6">
                <button class="btn btn-default" id="addTagBtn"><%= __('Agregar etiqueta') %></button>
              </div>
            </div>
            <br>
            <input class="form-control" id="tagsInput" type="text" name="tags" placeholder="<%= __('Las etiquetas que agregues apareceran aqui') %>" required>
          </div>

          <button type="submit" class="btn btn-default"><%= __('Crear') %></button>

        </form>

    </div>
  </div>

</div>

<% include _footer %>