<% include _header-not-logged %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= __('Ingresar') %></h1>
      <form method="post">
        <div class="form-group">
          <label for="email"><%= __('Correo') %></label>
          <input class="form-control" id="email" type="email" name="email" value="<%= email %>" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password"><%= __('Contraseña') %></label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default"><%= __('Enviar') %></button>
        <div class="error"><%= errors %></div>
      </form>
    </div>
  </div>
</div>

<% include _footer %>